---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div
        style={{
            textAlign: "center",
        }}
    >
        <h1
            style={{
                fontSize: "1.5rem",
                fontWeight: 600,
            }}
        >
            error
        </h1>
    </div>
</Layout>
