---

---

<html
    lang="en"
    style={{
        height: "100%",
    }}
>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Andrew Jazbec</title>
    </head>
    <body
        style={{
            height: "100%",
            display: "grid",
            placeItems: "center",
            fontFamily:
                "ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'",
        }}
    >
        <div
            style={{
                textAlign: "center",
            }}
        >
            <h1
                style={{
                    fontSize: "1.5rem",
                    fontWeight: 600,
                }}
            >
                error
            </h1>
        </div>
    </body>
</html>
