---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div
        style={{
            textAlign: "center",
        }}
    >
        <h1
            style={{
                fontSize: "1.5rem",
                fontWeight: 600,
            }}
        >
            Andrew Jazbec
        </h1>
        <a
            href="mailto:andrew@jazbec.io"
            style={{
                fontSize: "1.25rem",
            }}>email</a
        >
    </div>
</Layout>
